
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/properties.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
	<script src="https://unpkg.com/htmx.org@1.9.2"></script>
	<title>{{ property.zipcode }}</title>
</head>
<body>
<div class="wrapper">
		<header class="header">
			<div class="header__container">
				<a href="/" class="header__logo">SmartSpace</a>
				<nav class="header__menu menu">
					<ul class="menu__list">
						<li class="menu__item">
							<a href="" class="menu__link">Home</a>
						</li>
						<li class="menu__item">
							<a href="" class="menu__link">About</a>
						</li>
						<li class="menu__item">
							<a href="" class="menu__link">Service</a>
						</li>
						<li class="menu__item">
							<a href="" class="menu__link">Portfolio</a>
						</li>
						<li class="menu__item">
							<a href="" class="menu__link">Blog</a>
						</li>
						<li class="menu__item">
							<a href="" class="menu__link">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>


		<main class="page">
			<section class="page__properties properties">
				<div class="properties__container">
					<div class="properties__header header-properties">
						<div class="header-properties__content">
							<h2 class="header-properties__title title">Property with zipcode {{ property.zipcode }}</h2>
							<div class="header-properties__text">to Zipcode</div>
							<form action="{% url 'Search_result' %}" method="get" class="header-properties__form">
								<input type="text" name="search" value="{{ search }}" class="header-properties__input">
								<button class="header-properties__button" type="submit">
									<img src="{% static 'img/how/search.svg' %}" alt="">
								</button>
							</form>
						</div>
						<a href="{% url 'Home' %}" class="header-properties__link wave-btn">
							<span class="wave-btn__text">View All Property</span>
							<span class="wave-btn__waves"></span>
						</a>
					</div>
					<div class="properties__items">

						<div class="properties__item item-properties">
							<div class="item-properties__options">
								<a href="" class="item-properties__option item-properties__option_code">{{ property.zipcode }}</a>
								<a href="" class="item-properties__option">Featured</a>
								<a href="" class="item-properties__option">3D</a>
							</div>
							<a href="" class="item-properties__image">
								<img src="{{ property.image.url }}" alt="Image">
							</a>
						</div>

					</div>
				</div>
			</section>
		</main>
<footer class="footer">
			<div class="footer__container">
				<a href="#" class="footer__logo">SmartSpace</a>
				<nav class="footer__menu menu-footer">
					<ul class="menu-footer__list">
						<li class="menu-footer__item">
							<a href="" class="menu-footer__link">Home</a>
						</li>
						<li class="menu-footer__item">
							<a href="" class="menu-footer__link">About</a>
						</li>
						<li class="menu-footer__item">
							<a href="" class="menu-footer__link">Service</a>
						</li>
						<li class="menu-footer__item">
							<a href="" class="menu-footer__link">Portfolio</a>
						</li>
						<li class="menu-footer__item">
							<a href="" class="menu-footer__link">Blog</a>
						</li>
						<li class="menu-footer__item">
							<a href="" class="menu-footer__link">Contact</a>
						</li>
					</ul>
				</nav>
				<div class="footer__copy">Copyright © 2021 AR Shakir . All Rights Reseved.</div>
			</div>
		</footer>

	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
	<script src="{% static 'js/script.js' %}"></script>
</div>
</body>
</html>